@font-face {
  font-family: "Oliver";
  src: url("../public/fonts/Oliver-Regular-400.woff");
}

body {
  margin: 0;
  background: white;
  font-family: Helvetica, serif;
  color: #202221;
}
.navbar {
  background: black;
  color: white;
  font-size: 0.8em;
  max-width: 1500px;
  margin: 0 auto;
}
.navbar a {
  color: white;
}
.navbar-logo {
  font-family: Oliver, serif;
  font-size: 1.2em !important;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-decoration: none;
  margin-right: 2.5em;
  border-radius: 0.2rem;
}
.navbar a:hover {
  color: white;
  text-decoration: underline;
}
/*@media (prefers-color-scheme: dark) {*/
/*  body {*/
/*    background: #202221;*/
/*    color: white;*/
/*  }*/
/*  .navbar-brand b {*/
/*    color: white;*/
/*  }*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*  color: white;*/
/*}*/
.code {
  margin: 1em 0;
}
.code code {
  padding: 1em;
  white-space: pre-line;
  padding-bottom: 0;
  padding-top: 0.5em;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.code-header {
  padding: 0.5em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #0d1117;
}
.code-copy {
  float: right;
  color: white;
}


.grid-media img {
  max-width: 100%;
}

.media-col-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.media-col-9 {
  flex: 0 0 calc(100% / 9);
  max-width: calc(100% / 9);
}

.media-col-8 {
  flex: 0 0 calc(100% / 8);
  max-width: calc(100% / 8);
}
.media-col-7 {
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
}
.media-col-6 {
  flex: 0 0 calc(100% / 6);
  max-width: calc(100% / 6);
}
.media-col-5 {
  flex: 0 0 calc(100% / 5);
  max-width: calc(100% / 5);
}
.media-col-4 {
  flex: 0 0 calc(100% / 4);
  max-width: calc(100% / 4);
}
.media-col-3 {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
}
.media-col-2 {
  flex: 0 0 calc(100% / 2);
  max-width: calc(100% / 2);
}
.media-col-1 {
  flex: 0 0 100%;
  margin: 0 auto;
  text-align: center;
}
.media-col-1 img {
  object-fit: contain;
  max-height: calc(100vh - 140px);
  object-position: left;
}

.range--custom::-webkit-slider-thumb {
  background: gray;
}

.range--custom::-moz-range-thumb {
  background: gray;
}

.range--custom::-ms-thumb {
  background: gray;
}

.row--media-grid {
  overflow: hidden;
  max-height: calc(100vh - 123px);
  overflow-y: scroll;
}

.media-col-1 .sidebar-svg {
  max-height: calc(100vh - 140px);
}

.media-grid-value div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.col--main {
  min-height: calc(100vh - 80px);
}
.col--plot {
  min-height: calc(100vh - 119px);
}
.col--home {
  border-radius: 10px;
  border: 2px solid lightgrey;
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 70vh;
  overflow: hidden;
  min-height: 600px;
}
.col--home .col--main {
  min-height: calc(70vh - 56px);
}
.col--home .col--plot {
  min-height: calc(70vh - 95px);
}

.home--first {
  /*background-color: #232424;*/
  color: white;
  padding-bottom: 2em;
  margin: 0 auto;
  max-width: 1500px;
}
.home--second {
  background-color: #f9da49;
  padding-top: 2em;
  padding-bottom: 2em;
  color: black;
}
.home--second .card-img-top {
  object-fit: contain;
  max-height: 250px;
  padding: 1em;
}
.browser-button {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2em;
}
.browser-buttons {
  margin-top: -1em;
  margin-left: -1.7em;
}
.home--first h1 {
  font-size: 4em;
  font-weight: bold;
}

.subtitle-home {
  padding: 1em;
  font-size: 1.5em;
}
.footer a {
  color: white;
  text-decoration: underline;
}

.col--home .js-plotly-plot {
  height: calc(70vh - 95px) !important;
}
.col--home .row--media-grid {
  height: calc(70vh - 123px);
}

.sidebar img {
  max-width: 100%;
}

.image--preview {
  position: relative;
}

.image--preview img {
  max-width: 100%;
  max-height: 300px;
}

.landing-helper {
  float: left;
  font-family: 'Oliver', serif;
  font-size: 1.3em;
  text-align: center;
  margin-left: 100px;
}
.landing-helper img {
  filter: invert(100%);
  max-height: 30px;
}